:root {
  --color-primary: #ff6600;
  --color-secondary: #007acc;
  --color-secondary-dark: #005e9e;
  --color-bg-dark: #0e0e0e;
  --color-bg-light: #f9f9fb;
  --color-text-light: #f3f3f3;
  --color-text-dark: #222;
  --color-hover: #005fa3;
  --color-card: #fff;
  --color-border: #ccc;
  --font-main: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
